.flex-disp{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.one, .two, .three, .four, .five, .six, .seven{
    border: 1px solid black;
    padding: 5px;
}

.one{
    width: 100%;
    background: coral;
    text-align: center;
}

.two{
    width: 300px;
    min-width: 300px;
    text-align: left;
    background: cornflowerblue;
}

.three{
    width: 100%;
    background: aquamarine;
}

.four{
    width: 300px;
    min-width: 300px;
    text-align: right;
    background: chartreuse;
}

.five{
    width: 50%;
    background: darkcyan;
}

.six{
    width: 50%;
    background: deeppink;
}

.seven{
    width: 100%;
    text-align: center;
    background: aqua;
}

.line-1, .line-2, .line-3, .blocks-5-6 {
    display: flex;
    flex-direction: row;
}

.blocks-3-5-6{
    width: 100%;
}