.flex-disp{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.one, .two, .three, .four, .five, .six, .seven{
    border: 1px solid black;
    padding: 5px;
}

.three{
    padding-bottom: 14px;
    text-align: center;
}

.one{
    width: 100%;
    background: coral;
    text-align: center;
}

.two{
    width: 300px;
    min-width: 300px;
    text-align: left;
    background: cornflowerblue;
}

.three{
    background: aquamarine;
}

.four{
    width: 300px;
    min-width: 300px;
    text-align: right;
    background: chartreuse;
}

.five{
    background: darkcyan;
    text-align: center;
}

.six{
    background: deeppink;
    text-align: center;
}

.five, .six {
    width: 50%;
}

.seven{
    width: 100%;
    text-align: center;
    background: aqua;
}

.line-1, .line-2, .line-3 {
    display: flex;
    flex-direction: row;
}

.blocks-5-6{
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.blocks-3-5-6{
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media screen and (max-width: 900px){
    .line-2{
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width: 600px){
    .line-1, .line-2, .line-3, .blocks-5-6, .blocks-3-5-6{
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    .five, .six{
        width: auto;
    }
}

